h1{
   padding-left:75;
   text-align:left;
}
#content{
   width:1200;
   height:500;
   border:solid;
   position:relative;
   margin:0 auto;
}
#summary{
   height:500;
   width:275;
   
   padding-left:50;
   padding-right:50;
   text-align:left;
   float:left;
}
#Login{
   height:500;
   width:275;
   padding-left:50;
   padding-right:50;
   text-align:left;
   border-left:dotted;
   border-right:dotted;
   float: left;
}
#Register{
   height:500;
   width:275;
   padding-left:50;
   text-align:left;
   float:left;
}