body {
  padding-top: 30px;
  padding-bottom: 30px;
  margin:10px;


}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.wrapper {
    text-align: center;
}
.button {
    position: absolute:
    top: 50%;
}