<html>
  <link rel="stylesheet" type="text/css" href="/static/mainpage.css" />


  <body>
  	{% include "mainpage-v2.html" %}
    <div id="section">
    Hi {{name}}!<br>
    <br>
    {{debug}}
    <br>
    <table border="2">
      <tr>
        <td bgcolor = "#a2edb1">
        Classes you have taken.
        </td>
      </tr>
      <tr>
        <td bgcolor = "#ffffff">
        Classes you still need to take.
        </td>
      </tr>
    </table>

    <br>

    {% include "table.html" %}
    </div>
 
  </body>
</html>