<!DOCTYPE html>
<html>
<link href="../static/bootstrap.min.css" rel="stylesheet">
<link href="../static/starter-template.css" rel="stylesheet">
<script>
function changeColor(idd) { 
	var allChanges = "";
	alert(idd);
	var id = document.getElementById(idd);
	var before = id.innerHTML;
	var courseNameEle =document.getElementById(id.id+"coursename");
	var courseName = courseNameEle.value;
	var courseIdEle = document.getElementById(id.id+"courseid");
	var courseId = courseIdEle.value;
	var creditsEle = document.getElementById(id.id+"coursecredits");  
	var credits = creditsEle.options[creditsEle.selectedIndex].value;
	var gradeEle = document.getElementById(id.id+"sel");   		   		
	var grade = gradeEle.options[gradeEle.selectedIndex].value;   				 

	if (grade === null || grade === false) { id.innerHTML = before; }
    if (grade === "") { id.innerHTML = before; }
 	else 
 	{ 
 		document.getElementById(id.id+"Info").innerHTML = courseName + "<p></p>" 
 		+ courseId + "<p></p>" + credits + " Credits" + "<p></p>" + "Your grade is: " + grade;     		
    	id.style.backgroundColor="#a2edb1";
    }

    var taken = true;
    if (grade === "Did not Take")
    {
    	taken = false; alert("did not take");
    	id.style.backgroundColor="#ffffff";
    }
    else
    {
    	//if (id.style.backgroundColor == "rgb(162, 237, 177)") 
    	id.style.backgroundColor="#a2edb1"; alert("take");
    }

	var allChanges = 'cellnumber='+parseInt(id.id)+'&coursetaken='+Boolean(taken)+'&coursename='+String(courseName)+
	"&courseid="+String(courseId)+"&credits="+parseInt(credits, 10)+"&grade="+String(grade);
	alert(allChanges);
	var request = new XMLHttpRequest();	
	request.open("POST","/main",true);
	request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	request.send(allChanges);
}
</script>
<link href="../static/bootstrap.min.css" rel="stylesheet">
<link href="../static/starter-template.css" rel="stylesheet">

<div class="CSSTableGenerator">

	<table border="1" width ="100%" >
	<tr>
		<td>Semester #1<br>Freshman 1</td>
		<td>Semester #2<br>Freshman 2</td>
		<td>Semester #3<br>Sophomore 1</td>
		<td>Semester #4<br>Sophomore 2</td>
		<td>Semester #5<br>Junior 1</td>
		<td>Semester #6<br>Junior 2</td>
		<td>Semester #7<br>Senior 1</td>
		<td>Semester #8<br>Senior 2</td>
	</tr>
	<tr>
		<td style="background-color:{{classTaken.0}}" id = "0" {{classTaken.0}}>
			<div style="display: inline;" id="0Info">{{courseNames.0}} <br><br> {{courseId.0}} <br><br> {{courseCredits.0}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#0modal"></a></td>
		<td style="background-color:{{classTaken.5}}" id = "5" {{classTaken.5}}>
			<div style="display: inline;" id="1Info">{{courseNames.5}} <br><br> {{courseId.5}} <br><br> {{courseCredits.5}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#5modal"></a></td>
		<td style="background-color:{{classTaken.10}}" id = "10" {{classTaken.10}}>
			<div style="display: inline;" id="10Info">{{courseNames.10}} <br><br> {{courseId.10}} <br><br> {{courseCredits.10}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#10modal"></a></td>			
		<td style="background-color:{{classTaken.15}}" id = "15" {{classTaken.15}}>
			<div style="display: inline;" id="15Info">{{courseNames.15}} <br><br> {{courseId.15}} <br><br> {{courseCredits.15}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#15modal"></a></td>	
		<td style="background-color:{{classTaken.20}}" id = "20" {{classTaken.20}}>
			<div style="display: inline;" id="20Info">{{courseNames.20}} <br><br> {{courseId.20}} <br><br> {{courseCredits.20}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#20modal"></a></td>
		<td style="background-color:{{classTaken.25}}" id = "25" {{classTaken.25}}>
			<div style="display: inline;" id="25Info">{{courseNames.25}} <br><br> {{courseId.25}} <br><br> {{courseCredits.25}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#25modal"></a></td>
		<td style="background-color:{{classTaken.30}}" id = "30" {{classTaken.30}}>
			<div style="display: inline;" id="30Info">{{courseNames.30}} <br><br> {{courseId.30}} <br><br> {{courseCredits.30}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#30modal"></a></td>
		<td style="background-color:{{classTaken.35}}" id = "35" {{classTaken.35}}>
			<div style="display: inline;" id="35Info">{{courseNames.35}} <br><br> {{courseId.35}} <br><br> {{courseCredits.35}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#35modal"></a></td>
	</tr>
	<tr>
		<td style="background-color:{{classTaken.1}}" id = "1" {{classTaken.1}}>
			<div style="display: inline;" id="1Info">{{courseNames.1}} <br><br> {{courseId.1}} <br><br> {{courseCredits.1}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#1modal"></a></td>
		<td style="background-color:{{classTaken.6}}" id = "6" {{classTaken.6}}>
			<div style="display: inline;" id="6Info">{{courseNames.6}} <br><br> {{courseId.6}} <br><br> {{courseCredits.6}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#6modal"></a></td>
		<td style="background-color:{{classTaken.11}}" id = "11" {{classTaken.11}}>
			<div style="display: inline;" id="11Info">{{courseNames.11}} <br><br> {{courseId.11}} <br><br> {{courseCredits.11}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#11modal"></a></td>
		<td style="background-color:{{classTaken.16}}" id = "16" {{classTaken.16}}>
			<div style="display: inline;" id="16Info">{{courseNames.16}} <br><br> {{courseId.16}} <br><br> {{courseCredits.16}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#16modal"></a></td>
		<td style="background-color:{{classTaken.21}}" id = "21" {{classTaken.21}}>
			<div style="display: inline;" id="21Info">{{courseNames.21}} <br><br> {{courseId.21}} <br><br> {{courseCredits.21}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#21modal"></a></td>
		<td style="background-color:{{classTaken.26}}" id = "26" {{classTaken.26}}>
			<div style="display: inline;" id="26Info">{{courseNames.26}} <br><br> {{courseId.26}} <br><br> {{courseCredits.26}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#26modal"></a></td>
		<td style="background-color:{{classTaken.31}}" id = "31" {{classTaken.31}}>
			<div style="display: inline;" id="31Info">{{courseNames.31}} <br><br> {{courseId.31}} <br><br> {{courseCredits.31}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#31modal"></a></td>
		<td style="background-color:{{classTaken.36}}" id = "36" {{classTaken.36}}>
			<div style="display: inline;" id="36Info">{{courseNames.36}} <br><br> {{courseId.36}} <br><br> {{courseCredits.36}} Credits <br><br> Your grade is: Did not Take</div>			
			<a href="#" data-toggle="modal" data-target="#36modal"></a></td>
	</tr>
	<tr>
		<td style="background-color:{{classTaken.2}}" id = "2" {{classTaken.2}}>
			<div style="display: inline;" id="2Info">{{courseNames.2}} <br><br> {{courseId.2}} <br><br> {{courseCredits.2}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#2modal"></a></td>
		<td style="background-color:{{classTaken.7}}" id = "7" {{classTaken.7}}>
			<div style="display: inline;" id="7Info">{{courseNames.7}} <br><br> {{courseId.7}} <br><br> {{courseCredits.7}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#7modal"></a></td>
		<td style="background-color:{{classTaken.12}}" id = "12" {{classTaken.12}}>
			<div style="display: inline;" id="12Info">{{courseNames.12}} <br><br> {{courseId.12}} <br><br> {{courseCredits.12}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#12modal"></a></td>
		<td style="background-color:{{classTaken.17}}" id = "17" {{classTaken.17}}>
			<div style="display: inline;" id="17Info">{{courseNames.17}} <br><br> {{courseId.17}} <br><br> {{courseCredits.17}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#17modal"></a></td>
		<td style="background-color:{{classTaken.22}}" id = "22" {{classTaken.22}}>
			<div style="display: inline;" id="22Info">{{courseNames.22}} <br><br> {{courseId.22}} <br><br> {{courseCredits.22}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#22modal"></a></td>
		<td style="background-color:{{classTaken.27}}" id = "27" {{classTaken.27}}>
			<div style="display: inline;" id="27Info">{{courseNames.27}} <br><br> {{courseId.27}} <br><br> {{courseCredits.27}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#27modal"></a></td>
		<td style="background-color:{{classTaken.32}}" id = "32" {{classTaken.32}}>
			<div style="display: inline;" id="32Info">{{courseNames.32}} <br><br> {{courseId.32}} <br><br> {{courseCredits.32}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#32modal"></a></td>
		<td style="background-color:{{classTaken.37}}" id = "37" {{classTaken.37}}>
			<div style="display: inline;" id="37Info">{{courseNames.37}} <br><br> {{courseId.37}} <br><br> {{courseCredits.37}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#37modal"></a></td>
	</tr>
	<tr>
		<td style="background-color:{{classTaken.3}}" id = "3" {{classTaken.3}}>
			<div style="display: inline;" id="3Info">{{courseNames.3}} <br><br> {{courseId.3}} <br><br> {{courseCredits.3}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#3modal"></a></td>
		<td style="background-color:{{classTaken.8}}" id = "8" {{classTaken.8}}>
			<div style="display: inline;" id="8Info">{{courseNames.8}} <br><br> {{courseId.8}} <br><br> {{courseCredits.8}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#8modal"></a></td>
		<td style="background-color:{{classTaken.13}}" id = "13" {{classTaken.13}}>
			<div style="display: inline;" id="13Info">{{courseNames.13}} <br><br> {{courseId.13}} <br><br> {{courseCredits.13}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#13modal"></a></td>
		<td style="background-color:{{classTaken.18}}" id = "18" {{classTaken.18}}>
			<div style="display: inline;" id="18Info">{{courseNames.18}} <br><br> {{courseId.18}} <br><br> {{courseCredits.18}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#18modal"></a></td>
		<td style="background-color:{{classTaken.23}}" id = "23" {{classTaken.23}}>
			<div style="display: inline;" id="23Info">{{courseNames.23}} <br><br> {{courseId.23}} <br><br> {{courseCredits.23}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#23modal"></a></td>
		<td style="background-color:{{classTaken.28}}" id = "28" {{classTaken.28}}>
			<div style="display: inline;" id="28Info">{{courseNames.28}} <br><br> {{courseId.28}} <br><br> {{courseCredits.28}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#28modal"></a></td>
		<td style="background-color:{{classTaken.33}}" id = "33" {{classTaken.33}}>
			<div style="display: inline;" id="33Info">{{courseNames.33}} <br><br> {{courseId.33}} <br><br> {{courseCredits.33}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#33modal"></a></td>
		<td style="background-color:{{classTaken.38}}" id = "38" {{classTaken.38}}>
			<div style="display: inline;" id="38Info">{{courseNames.38}} <br><br> {{courseId.38}} <br><br> {{courseCredits.38}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#38modal"></a></td>
	</tr>
	<tr>
		<td style="background-color:{{classTaken.4}}" id = "4" {{classTaken.4}}>
			<div style="display: inline;" id="4Info">{{courseNames.4}} <br><br> {{courseId.4}} <br><br> {{courseCredits.4}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#4modal"></a></td>
		<td style="background-color:{{classTaken.9}}" id = "9" {{classTaken.9}}>
			<div style="display: inline;" id="9Info">{{courseNames.9}} <br><br> {{courseId.9}} <br><br> {{courseCredits.9}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#9modal"></a></td>
		<td style="background-color:{{classTaken.14}}" id = "14" {{classTaken.14}}>
			<div style="display: inline;" id="14Info">{{courseNames.14}} <br><br> {{courseId.14}} <br><br> {{courseCredits.14}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#14modal"></a></td>
		<td style="background-color:{{classTaken.19}}" id = "19" {{classTaken.19}}>
			<div style="display: inline;" id="19Info">{{courseNames.19}} <br><br> {{courseId.19}} <br><br> {{courseCredits.19}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#19modal"></a></td>
		<td style="background-color:{{classTaken.24}}" id = "24" {{classTaken.24}}>
			<div style="display: inline;" id="24Info">{{courseNames.24}} <br><br> {{courseId.24}} <br><br> {{courseCredits.24}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#24modal"></a></td>
		<td style="background-color:{{classTaken.29}}" id = "29" {{classTaken.29}}>
			<div style="display: inline;" id="29Info">{{courseNames.29}} <br><br> {{courseId.29}} <br><br> {{courseCredits.29}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#29modal"></a></td>
		<td style="background-color:{{classTaken.34}}" id = "34" {{classTaken.34}}>
			<div style="display: inline;" id="34Info">{{courseNames.34}} <br><br> {{courseId.34}} <br><br> {{courseCredits.34}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#34modal"></a></td>
		<td style="background-color:{{classTaken.39}}" id = "39" {{classTaken.39}}>
			<div style="display: inline;" id="39Info">{{courseNames.39}} <br><br> {{courseId.39}} <br><br> {{courseCredits.39}} Credits <br><br> Your grade is: Did not Take</div>
			<a href="#" data-toggle="modal" data-target="#39modal"></a></td>
	</tr>
</table>

    <div class="modal fade" id="0modal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">          
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Update Class Information</h4>
          </div>          
          <div class="modal-body">
          	<table>
          		<tr>
          			<td>
          				Entry
          			</td>
          			<td>
          				Value
          			</td>
          		</tr>
      			<tr>
      				<td>
      				Course Name:
      				</td>
      				<td>
      					<input id = "0coursename" value="{{courseNames.0}}" />
      				</td>
      			</tr>
      			<tr>
      				<td>
      				Course ID:
      				</td>
      				<td>
      					<input id = "0courseid" value="{{courseId.0}}" />
      				</td>
      			</tr>         			   
      			<tr>
      				<td>
      				Credits:
      				</td>
      				<td>
      					<select id = "0coursecredits">
          					<option>1</option>
          					<option>2</option>
			          		<option>3</option>
          					<option>4</option>
     			     		<option>5</option>
      					</select>
      				</td>
      			</tr>
          		<tr>
          			<td>
          			Grade:
          			</td>
          			<td>
      					<select id = "0sel">
          					<option>A+</option>
          					<option>A</option>
			          		<option>A-</option>
          					<option>B+</option>
     			     		<option>B</option>
    			      		<option>B-</option>
    			      		<option>C+</option>
    			      		<option>C</option>
    			      		<option>C-</option>
          					<option>D+</option>
      			    		<option>D</option>
          					<option>D-</option>
          					<option>F</option>
          					<option>Did not Take</option>
      					</select>
      				</td>
      			</tr>   		
      		
      		</table>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button onclick="changeColor('0')" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
	</div>

    
	<div class="modal fade" id="1modal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">          
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Update Class Information</h4>
          </div>          
          <div class="modal-body">
          	<table>
          		<tr>
          			<td>
          				Entry
          			</td>
          			<td>
          				Value
          			</td>
          		</tr>
      			<tr>
      				<td>
      				Course Name:
      				</td>
      				<td>
      					<input id = "1coursename" value="{{courseNames.1}}" />
      				</td>
      			</tr>
      			<tr>
      				<td>
      				Course ID:
      				</td>
      				<td>
      					<input id = "1courseid" value="{{courseId.1}}" />
      				</td>
      			</tr>         			   
      			<tr>
      				<td>
      				Credits:
      				</td>
      				<td>
      					<select id = "1coursecredits">
          					<option>1</option>
          					<option>2</option>
			          		<option>3</option>
          					<option>4</option>
     			     		<option>5</option>
      					</select>
      				</td>
      			</tr>
          		<tr>
          			<td>
          			Grade:
          			</td>
          			<td>
      					<select id = "1sel">
          					<option>A+</option>
          					<option>A</option>
			          		<option>A-</option>
          					<option>B+</option>
     			     		<option>B</option>
    			      		<option>B-</option>
    			      		<option>C+</option>
    			      		<option>C</option>
    			      		<option>C-</option>
          					<option>D+</option>
      			    		<option>D</option>
          					<option>D-</option>
          					<option>F</option>
          					<option>Did not Take</option>
      					</select>
      				</td>
      			</tr>   		
      		
      		</table>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button onclick="changeColor('1')" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
	</div>

 







    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
<style>
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	overflow: hidden;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	overflow: hidden;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	overflow: hidden;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	overflow: hidden;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#ffffff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	overflow: hidden;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	overflow: hidden;
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	overflow: hidden;
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	overflow: hidden;
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	overflow: hidden;
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	overflow: hidden;
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.CSSTableGenerator tr:first-child td:first-child{
	overflow: hidden;
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{

	border-width:0px 0px 1px 1px;
}
td a {
    display: block;
    margin: -10em;
    padding: 10em;
}

</style>