<div class="CSSTableGenerator" >
<table >
	<tr>
		<td>Freshman Term 1</td>
		<td>Freshman Term 2</td>
		<td>Sophomore Term 1</td>
		<td>Sophomore Term 2</td>
		<td>Junior Term 1</td>
		<td>Junior Term 2</td>
		<td>Senior Term 1</td>
		<td>Senior Term 2</td>
	</tr>
	<tr>
		<td>{{courseNames.1}} <br> {{courseCredits.1}} Credits</td>
		<td>{{courseNames.6}} <br> {{courseCredits.6}} Credits</td>
		<td>{{courseNames.11}} <br> {{courseCredits.11}} Credits</td>
		<td>{{courseNames.16}} <br> {{courseCredits.16}} Credits</td>
		<td>{{courseNames.21}} <br> {{courseCredits.21}} Credits</td>
		<td>{{courseNames.26}} <br> {{courseCredits.26}} Credits</td>
		<td>{{courseNames.31}} <br> {{courseCredits.31}} Credits</td>
		<td>{{courseNames.36}} <br> {{courseCredits.36}} Credits</td>
	</tr>
	<tr>
		<td>{{courseNames.2}} <br> {{courseCredits.2}} Credits</td>
		<td>{{courseNames.7}} <br> {{courseCredits.7}} Credits</td>
		<td>{{courseNames.12}} <br> {{courseCredits.12}} Credits</td>
		<td>{{courseNames.17}} <br> {{courseCredits.17}} Credits</td>
		<td>{{courseNames.22}} <br> {{courseCredits.22}} Credits</td>
		<td>{{courseNames.27}} <br> {{courseCredits.27}} Credits</td>
		<td>{{courseNames.32}} <br> {{courseCredits.32}} Credits</td>
		<td>{{courseNames.37}} <br> {{courseCredits.37}} Credits</td>
	</tr>
	<tr>
		<td>{{courseNames.3}} <br> {{courseCredits.3}} Credits</td>
		<td>{{courseNames.8}} <br> {{courseCredits.8}} Credits</td>
		<td>{{courseNames.13}} <br> {{courseCredits.13}} Credits</td>
		<td>{{courseNames.18}} <br> {{courseCredits.18}} Credits</td>
		<td>{{courseNames.23}} <br> {{courseCredits.23}} Credits</td>
		<td>{{courseNames.28}} <br> {{courseCredits.28}} Credits</td>
		<td>{{courseNames.33}} <br> {{courseCredits.33}} Credits</td>
		<td>{{courseNames.38}} <br> {{courseCredits.38}} Credits</td>
	</tr>
	<tr>
		<td>{{courseNames.4}} <br> {{courseCredits.4}} Credits</td>
		<td>{{courseNames.9}} <br> {{courseCredits.9}} Credits</td>
		<td>{{courseNames.14}} <br> {{courseCredits.14}} Credits</td>
		<td>{{courseNames.19}} <br> {{courseCredits.19}} Credits</td>
		<td>{{courseNames.24}} <br> {{courseCredits.24}} Credits</td>
		<td>{{courseNames.29}} <br> {{courseCredits.29}} Credits</td>
		<td>{{courseNames.34}} <br> {{courseCredits.34}} Credits</td>
		<td>{{courseNames.39}} <br> {{courseCredits.39}} Credits</td>
	</tr>
	<tr>
		<td>{{courseNames.5}} <br> {{courseCredits.5}} Credits</td>
		<td>{{courseNames.10}} <br> {{courseCredits.10}} Credits</td>
		<td>{{courseNames.15}} <br> {{courseCredits.15}} Credits</td>
		<td>{{courseNames.20}} <br> {{courseCredits.20}} Credits</td>
		<td>{{courseNames.25}} <br> {{courseCredits.25}} Credits</td>
		<td>{{courseNames.30}} <br> {{courseCredits.30}} Credits</td>
		<td>{{courseNames.35}} <br> {{courseCredits.35}} Credits</td>
		<td>{{courseNames.40}} <br> {{courseCredits.40}} Credits</td>
	</tr>
</table>
</div>
<style>
CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:50%;
	height:50%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#56aaff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #00007f 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00007f), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #00007f 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00007f", endColorstr="#003f7f");	background: -o-linear-gradient(top,#00007f,003f7f);

	background-color:#00007f;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #00007f 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00007f), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #00007f 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00007f", endColorstr="#003f7f");	background: -o-linear-gradient(top,#00007f,003f7f);

	background-color:#00007f;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
</style>
 
           
